.circle_holder {
	margin: 40px auto 50px;
	height: 450px;
	width: 720px;
	position: relative;

	@include tablet {
		width: 100%;
		margin: 0 auto 20px;
		height: auto;
	}
	.mobile_line {
		display: none; 

		@include tablet {
			display: block;
			position: absolute;
			background: $green;
			width: 1px;
			top: 20px;
			height: 0;
			left: 30px;
			animation: grow 4s forwards;
		}
	}
	.circle {
		width: 450px;
		height: 450px;
		margin: 0 auto;
		border-radius: 50%;
		border: 1px dashed $green;
		position: relative;

		@include tablet {
			display: none;
		}
		&:before {
			display: block;
			position: absolute;
			content: '';
			width: 450px;
			height: 450px;
			border-radius: 50%;
			top: -1px;
			left: -1px;
			border-top: 2px solid $green;
			transform: translate3d(0,0,0) rotateZ(0deg);
			transform-origin: center center;
			animation: round infinite linear 2s;
		}
	}
	.circle_text {
		font-size: 29px;
		color: $green;
		line-height: 125%;
		font-family: $bold;
		text-align: center;
		width: 240px;
		height: 240px;
		margin-left: -120px;
		left: 50%;
		margin-top: -120px;
		top: 50%;
		position: absolute;
		display: table;

		.center {
			display: table-cell;
			vertical-align: middle;
		}
		@include tablet {
			display: none;
		}
	}
	.stop {
		width: 90px;
		height: 90px;
		position: absolute;
		border-radius: 50%;
		top: 20px;
		z-index: 1;
		left: 157px;
		background: #f4f4f4;
		display: flex;
		cursor: pointer;

		@include tablet {
			display: flex;
			position: relative;
			left: -15px !important;
			right: auto !important;
			bottom: auto !important;
			top: auto !important;
			margin: 30px 0;
			height: 80px;
		}
		img {
			height: auto;
			width: auto;
			max-width: 35%;
			max-height: 35%;
			margin: auto;

			@include tablet {
				opacity: 0;
				transform: translate3d(0,20px,0) scale(.6);
				animation: appear 1000ms forwards;
			}
		}
		.text_holder {
			height: 80px;
			margin-top: -40px;
			top: 50%;
			position: absolute;
			width: 380px;
			display: flex;
			flex-direction: column;
			transition: color 250ms;

			@include tablet {
				width: calc(100vw - 20px);
				line-height: 140%;	
				opacity: 0;
				transform: translate3d(0,20px,0) scale(.6);
				animation: appear 1000ms forwards;
			}
			.center {
				margin: auto 0;
				vertical-align: middle;
				text-align: left;
				padding-left: 100px;
				font-family: $bold;

				@include tablet {
					padding-left: 90px;	
				}
			}
		}
		&.stop_3,
		&.stop_4 {
			top: auto;
			bottom: 20px;
		}
		&.stop_2,
		&.stop_4 {
			left: auto;
			right: 157px;
		}
		&.stop_1,
		&.stop_3 {

			.text_holder {
				right: 0;
				left: auto;
				flex-direction: flex-end;

				@include tablet {
					right: auto;
					flex-direction: flex-start;
				}
				.center {
					text-align: right;
					padding-left: 0;
					padding-right: 100px;

					@include tablet {
						text-align: left;
						padding-right: 0;	
						padding-left: 90px;	
					}
				}
			}
		}
		&:before {
			display: block;
			position: absolute;
			content: '';
			width: 56px;
			height: 56px;
			margin-top: -28px;
			margin-left: -28px;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			border: 1px dashed $green;

			@include tablet {
				opacity: 0;
				transform: translate3d(0,20px,0) scale(.6);
				animation: appear 1000ms forwards;
			}
		}
		&:after {
			display: block;
			position: absolute;
			content: '';
			width: 56px;
			height: 56px;
			margin-top: -28px;
			margin-left: -28px;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			border: 2px solid $green;
			opacity: 1;
			transform: translate3d(0,0,0) scale(1);

			@include desktop {
				animation: stop linear infinite 2000ms;
			}
			@include tablet {
				opacity: 0;
				transform: translate3d(0,20px,0) scale(.6);
				animation: appear 1000ms forwards;
			}
		}
		&.stop_1 {

			&:after,
			&:before {
				animation-delay: 1.8s;

				@include tablet {
					animation-delay: 0.3s;
				}
			}
			img {

				@include tablet {
					animation-delay: 0.3s;
				}
			}
			.text_holder {

				@include tablet {
					animation-delay: 0.3s;
				}
			}
		}
		&.stop_2 {

			&:after,
			&:before {
				animation-delay: 0.3s;

				@include tablet {
					animation-delay: 0.8s;
				}
			}
			img {

				@include tablet {
					animation-delay: 0.8s;
				}
			}
			.text_holder {

				@include tablet {
					animation-delay: 0.8s;
				}
			}
		}
		&.stop_3 {

			&:after,
			&:before {
				animation-delay: 1.3s;

				@include tablet {
					animation-delay: 1.3s;
				}
			}
			img {

				@include tablet {
					animation-delay: 1.3s;
				}
			}
			.text_holder {

				@include tablet {
					animation-delay: 1.3s;
				}
			}
		}
		&.stop_4 {

			&:after,
			&:before {
				animation-delay: 0.8s;

				@include tablet {
					animation-delay: 1.8s;
				}
			}
			img {

				@include tablet {
					animation-delay: 1.8s;
				}
			}
			.text_holder {

				@include tablet {
					animation-delay: 1.8s;
				}
			}
		}
		&:hover {

			@include no_touch {

				.text_holder {
					text-decoration: underline;
					color: $green;
				}
				&:after {
					opacity: 1 !important;
		transform: translate3d(0,0,0) scale(1) !important;
				}
			}
		}
	}
}

@keyframes round {
	0% {
		transform: translate3d(0,0,0) rotateZ(0deg);
		transform-origin: center center;
	}
	100% {
		transform: translate3d(0,0,0) rotateZ(360deg);
		transform-origin: center center;
	}
}
@keyframes stop {
	0% {
		opacity: 1;
		transform: translate3d(0,0,0) scale(1);
	}
	50% {
		opacity: 0;
		transform: translate3d(0,0,0) scale(.9);
	}
	100% {
		opacity: 1;
		transform: translate3d(0,0,0) scale(1);
	}
}
@keyframes appear {
	0% {
		opacity: 0;
		transform: translate3d(0,20px,0) scale(.6);
	}
	100% {
		opacity: 1;
		transform: translate3d(0,0,0) scale(1);
	}
}
@keyframes grow {
	0% {
		height: 0;
	}
	100% {
		height: calc(100% - 40px);
	}
}