$base: #2e2d2d;
$green: #296251;
$brown: #d79664;

html {
	width: 100vw;
	overflow: hidden;
	height: 100%;
}
body {
	width: 100vw;
	height: 100%;
	overflow: hidden;
	font-family: $normal;
	color: $base;
	font-size: 14px;
	line-height: 175%;
	position: relative;
}
main {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;

	&.freeze {
		pointer-events: none;
	}
}
.wrapper {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 50px;

	@include tablet {
		padding: 0 20px;
	}
	&.content {
		max-width: 820px;
		padding: 137px 50px 0;
		text-align: center;

		@include tablet {
			padding: 100px 20px 0;
		}
		h1,
		h2 {
			padding: 18px 0;
			margin: 0;
		}
		.simple_text {
			padding: 41px 0 61px;
			text-align: left;

			img {
				max-width: 100%;
				height: auto;
				margin: 40px 0;
			}
			@include tablet {
				padding: 20px 0;
			}
		}
		.date {
			font-size: 14px;
			font-family: $light;
			text-align: center;
		}
	}
}
.back_button {
	display: inline-block;
	color: #d79664;
	font-size: 14px;
	text-align: center;
	font-family: $bold;
	transition: color 250ms;
	position: relative;
	padding: 20px 0 20px 16px;
	@include icon(arrow_left);
	text-decoration: none;

	&:before {
		position: absolute;
		display: block;
		font-size: 10px;
		color: #d79664;
		line-height: 10px;
		height: 10px;
		text-align: center;
		left: 0;
		margin-top: -5px;
		top: 50%;
		transition: transform 250ms, color 250ms;
		transform: translate3d(0,0,0);
	}
	&:hover {

		@include no_touch {
			color: $green;

			&:before {
				transform: translate3d(-7px,0,0);
				color: $green;
			}
		}
	}	
}
h1 {
	font-family: $bold;
	font-size: 36px;
	color: $base;
	margin: 32px 0 12px;
	letter-spacing: 1px;
	line-height: 120%;

	@include tablet {
		font-size: 26px;
	}
}
h2 {
	margin: 20px 0;
	text-align: center;
	font-family: $bold;
	font-size: 36px;
	line-height: 120%;

	@include tablet {
		font-size: 30px;
		line-height: 125%;
	}
}
.page {
	min-height: calc(100vh - 611px);
}
.button {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	text-decoration: none;
	line-height: 48px;
	white-space: nowrap;
	height: 48px;
	text-align: center;
	padding: 0 48px;
	border-radius: 4px;
	font-family: $bold;
	color: #fff;
	background: #296251;	
	transition: background 250ms;

	&:hover {

		@include no_touch {
			background: #204f41;
		}
	}
}
#overlay {
	position: fixed;
	z-index: 10;
	background: rgba(0, 0, 0, .5);
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll; 
	top: 0;
	left: 0;
	display: none;
	padding: 40px;
	transition: opacity 350ms;
	pointer-events: none;
	opacity: 0;
	-webkit-overflow-scrolling: touch;

	@include tablet {
		padding: 20px;
	}
	@include mobile {
		padding-bottom: 100px;	
	}
	&.open {
		pointer-events: all;
		opacity: 1;
	}
	.pop {
		width: 100%;
		max-width: 834px;
		background: #fff;
		margin: auto;
		position: relative;
		padding: 88px 60px;
		transform: translate3d(0, 100px, 0);
		transition: transform 350ms, opacity 350ms;
		display: none;
		opacity: 0;
		pointer-events: none;

		@include tablet {
			padding: 75px 20px 48px;
		}
		&.open {
			pointer-events: all;
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
		.close {
			display: block;
			position: absolute;
			right: 30px;
			top: 30px;
			height: 17px;
			line-height: 17px;
			white-space: nowrap;
			cursor: pointer;
			font-size: 14px;
			font-family: $bold;
			padding-right: 29px;
			color: $base;
			transition: color 250ms;
			user-select: none;
			@include icon(close);

			&:before {
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				line-height: 17px;
				font-size: 17px;
				text-align: center;
				height: 17px;
				color: $base;
				transition: color 250ms;
			}
			&:hover {

				@include no_touch {
					color: $green;

					&:before {
						color: $green;
					}
				}
			}
		}
		.pop_heading {
			text-align: center;
			font-size: 18px;
			font-family: $bold;
			margin-bottom: 40px;

			@include tablet {
				line-height: 140%;	
			}
		}
		&[data-name="success"] {
			
			.pop_heading {
				font-size: 28px;
				color: $green;
				margin: 0;
			}
		}
	}
}
::selection {
	background: rgba($green, .4);
}
::-moz-selection {
	background: rgba($green, .4);
}
.tab_head {
	text-decoration: none;
	cursor: pointer;
	user-select: none;

	&.active {
		text-decoration: underline;
		pointer-events: none;
		cursor: default;
	}
}
.tab {
	display: none;

	&[data-tab="1"] {
		display: block;
	}
}
.single_page {
	background: #f4f4f4;
}
.download_button {
	display: inline-block;
	padding: 10px 28px 10px 0;
	text-decoration: underline;
	position: relative;
	color: $green;
	font-family: $bold;
	transition: color 250ms;
	@include icon(download);

	&:before {
		display: block;
		position: absolute;
		right: 0;
	}
	@include tablet {
		padding: 10px 0 10px 28px;

		&:before {
			right: auto;
			left: 0;	
		}
	}
	&:hover {

		@include no_touch {
			color: $brown;
		}
	}
}