footer {
	padding-top: 83px;

	h2 {
		margin-top: 0;	
	}
	@include tablet {
		padding-top: 40px;
	}
	.link_groups {
		text-align: center;
		font-size: 0;

		@include mobile {
			margin-top: 40px;
		}
	}
	.links {
		display: inline-block;
		width: calc(50% - 100px);
		margin: 50px;
		text-align: left;

		@include tablet {
			padding: 0;
		}
		@include mobile {
			margin: 0;
			margin-bottom: 40px;
			width: 100%;
			display: block;
			text-align: center;
		}
		&:first-child {
			padding-left: 40px;
			padding-right: 40px;

			@include tablet {
				padding: 0;
			}
		}
		&:nth-child(2) {
			padding-right: 40px;
			padding-left: 40px;

			@include tablet {
				padding: 0;
			}
		}
		.name {
			text-transform: uppercase;
			font-size: 18px;
			font-family: $bold;
			margin-bottom: 10px;
		}
		a {
			display: inline-block;
			vertical-align: top;
			padding: 2px 0;
			text-decoration: none;
			color: $base;
			transition: color 250ms;
			font-family: $normal;
			font-size: 16px;
			margin-right: 10px;

			@include tablet {
				display: block;	
			}
			@include mobile {
				margin-right: 0;
			}
			&:hover {

				@include no_touch {
					color: $green;
					text-decoration: underline;
				}
			}
		}
	}
	.copyrights {
		color: #949493;
		font-size: 12px;
		text-align: center;
		padding: 21px 0;

		@include tablet {
			font-size: 10px;
		}
		* {
			text-align: center;
		}
	}
	#map {
		width: 100%;
		height: 324px;

		@include tablet {
			margin-top: 35px;	
		}
	}
}