header {
	height: 104px;
	width: 100%;
	position: fixed;	
	top: 0;
	left: 0;
	transition: background 250ms, height 250ms;
	background: rgba(255, 255, 255, 1);
	z-index: 4;

	.linkedin {
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		position: relative;	
		width: 36px;	
		height: 36px;	
		border-radius: 50%;
		@include icon(link);
		margin-left: 21px;

		@include header_tablet {
			display: none;
		}
		&:before {
			display: block;	
			position: absolute;
			width: 100%;	
			height: 100%;	
			text-align: right;
			padding-right: 8px;
			line-height: 26px;
			color: #2e2d2d;
			font-size: 28px;
			border: 5px solid #2e2d2d;
			border-radius: 50%;
			text-indent: -1px;
			transition: opacity 250ms, color 250ms, border-color 250ms;
		}
		&:hover {

			@include no_touch {
				
				&:before {
					opacity: 0.85;
				}
			}
		}
	}
	.logo {
		width: 234px;
		height: 48px;
		display: inline-block;
		position: relative;
		margin-top: 28px;
		transition: margin 250ms, transform 250ms;
		transform: translate3d(0,0,0) scale(1);
		transform-origin: top left;

		.white,
		.color {
			width: 100%;
			height: 100%;
			background-image: url('../media/images/logo_white.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			transition: opacity 250ms;
		}
		.color {
			background-image: url('../media/images/logo_color.svg');
		}
		.white {
			opacity: 0;
		}
	}
	.right {
		display: inline-block;
		vertical-align: top;
		float: right;
		text-align: right;
		font-size: 0;
		margin-top: 34px;
		transition: margin 250ms;

		.langs {
			display: inline-block;
			vertical-align: top;
			font-size: 16px;
			height: 36px;
			line-height: 36px;
			position: relative;

			@include header_tablet {
				cursor: pointer;
			}
			.current {
				border-left: 1px solid $base;
				transition: color 250ms, border-color 250ms;
				padding-left: 24px;
				padding-right: 24px;
				position: relative;
				display: block;
				cursor: default;
				@include icon(bird);

				@include header_tablet {
					padding-left: 14px;
					padding-right: 14px;
					border-left: none;
				}
				
				&:before {
					display: block;
					position: absolute;
					right: 0;
					font-size: 6px;
					height: 6px;
					top: 50%;
					margin-top: -3px;
					line-height: 6px;
					color: $base;
					transition: transform 250ms, color 250ms;
					transform: translate3d(0,0,0) rotateZ(0deg);
				}
			}
			.list {
				position: absolute;
				left: 0;
				width: 100%;
				pointer-events: none;
				transition: transform 250ms, opacity 250ms, background 250ms;
				transform: translate3d(0,7px,0);
				opacity: 0;
				background: rgba(255, 255, 255, 1);
				padding-bottom: 5px;
				border-radius: 0 0 4px 4px;

				a {
					display: block;
					width: 100%;
					text-align: left;
					padding-left: 25px;
					line-height: 140%;
					text-decoration: none;
					transition: color 250ms;
					color: $base;

					@include header_tablet {
						padding-left: 15px;
					}
				}
			}
			&:hover {

				@include no_touch {

					.current {
						
						&:before {
							transform: translate3d(0,0,0) rotateZ(180deg);
						}
					}
					.list {
						pointer-events: all;
						transform: translate3d(0,-6px,0);
						opacity: 1;
					}
				}
			}
			&.open {

				@include header_tablet {

					.current {
						
						&:before {
							transform: translate3d(0,0,0) rotateZ(180deg);
						}
					}
					.list {
						pointer-events: all;
						transform: translate3d(0,-6px,0);
						opacity: 1;
					}
				}
			}
		}
		.burger {
			display: none;

			@include header_tablet {
				display: inline-block;
				vertical-align: top;
				width: 25px;
				height: 25px;
				padding: 10px;
				cursor: pointer;
				box-sizing: content-box;
				position: relative;

				.plank {
					background: $base;
					height: 2px;
					border-radius: 4px;
					width: 25px;
					position: absolute;
					right: 0;
					transition: background 250ms, transform 250ms, opacity 150ms;
					transform-origin: center center !important;
					transform: translate3d(0,0,0) rotateZ(0deg);

					&:nth-child(1) {
						top: 10px;
					}
					&:nth-child(2) {
						top: 17px;
					}
					&:nth-child(3) {
						top: 17px;
					}
					&:nth-child(4) {
						top: 24px;
					}
				}
			}
		}
		.menu {
			display: inline-block;
			vertical-align: top;
			font-size: 0;
			height: 36px;
			line-height: 36px;
			margin-right: 7px;

			@include header_tablet {
				display: none;
			}
			> * {
				display: inline-block;
				vertical-align: top;
				font-size: 16px;
				padding: 0 20px;
				cursor: pointer;
				text-decoration: none;
				color: $base;
				transition: color 250ms, border-color 250ms;
				position: relative;
				border-bottom: 1px solid rgba(0,0,0,0);
				
				&.active {
					pointer-events: none;
					border-color: $base;
				}
				&:hover {

					@include no_touch {
						border-color: $base;
					}
				}
			}
		}
	}
	&.white {
		background: rgba(255, 255, 255, 0);

		.linkedin {

			&:before {
				border-color: #fff;
				color: #fff;
			}
		}
		.logo {

			.white {
				opacity: 1;
			}
			.color {
				opacity: 0;
			}
		}
		.right {

			.menu {

				> * {
					color: #fff;

					&.active {
						border-color: #fff;
					}
					@include no_touch {

						&:hover {
							border-color: #fff;
						}
					}
				}
			}
			.langs {

				.current,
				.list {
					color: #fff;
					border-color: #fff;

					&:before {
						color: #fff;
					}
					a {
						color: #fff;
					}
				}
				.list {
					background: rgba(255, 255, 255, 0);
				}
			}
			.burger {

				.plank {
					background: #fff;
				}
			}
		}
	}
	@include header_tablet {
		height: 68px;

		.logo {
			transform: translate3d(0,0,0) scale(0.76);
			margin-top: 16px;
			position: absolute;
		}
		.right {
			margin-top: 16px;
		}
	}
	&.sticky {
		background: rgba(255, 255, 255, 1);
		height: 68px;

		.logo {
			transform: translate3d(0,0,0) scale(0.76);
			margin-top: 16px;
		}
		.right {
			margin-top: 16px;
		}
		.burger {

			.plank {
				background: $base;
			}
		}
	}
}
.mobile_menu {
	display: none;
	z-index: 3;
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	background: #fff;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	transform: translate3d(100%,0,0);
	transition: transform 250ms;

	@include header_tablet {
		display: block;
	}

	.holder {
		padding: 68px 0 120px;
		width: 100%;

		a {
			display: block;
			text-align: center;
			padding: 20px;
			border-top: 1px solid #bebebe;
			color: $base;
			text-decoration: none;
			font-family: $bold;
			font-size: 20px;

			&.active {
				color: $green;
			}
			&:last-child {
				border-bottom: 1px solid #bebebe;
			}
			&.linkedin {

				> span {
					display: inline-block;
					position: relative;
					@include icon(link);
					padding-left: 30px;

					&:before {
						position: absolute;
						display: block;
						font-size: 16px;
						left: 0;
						border: 3px solid #2e2d2d;
						border-radius: 50%;
						width: 20px;
						height: 20px;
						line-height: 14px;
						text-indent: -1px;
						top: 2px;
					}
				}
			}
		}
	}
}
body.open {

	@include header_tablet {

		.mobile_menu {
			transform: translate3d(0,0,0)
		}
		.burger {

			.plank {

				&:nth-child(1) {
					opacity: 0;
				}
				&:nth-child(2) {
					transform: translate3d(0,0,0) rotateZ(45deg);
				}
				&:nth-child(3) {
					transform: translate3d(0,0,0) rotateZ(-45deg);
				}
				&:nth-child(4) {
					opacity: 0;
				}
			}
		}
		header {
			background: rgba(255, 255, 255, 1);

			.logo {

				.white {
					opacity: 0;
				}
				.color {
					opacity: 1;
				}
			}
			.right {

				.menu {

					> * {
						color: $base;

						&.active {
							border-color: $base;
						}
						@include no_touch {

							&:hover {
								border-color: $base;
							}
						}
					}
				}
				.langs {

					.current,
					.list {
						color: $base;
						border-color: $base;

						&:before {
							color: $base;
						}
						a {
							color: $base;
						}
					}
					.list {
						background: rgba(255, 255, 255, 1);
					}
				}
				.burger {

					.plank {
						background: $base;
					}
				}
			}
		}
	}
}