@font-face {
	font-family: "icons";
	src: url('../media/fonts/icons.eot');
	src: url('../media/fonts/icons.eot?#iefix') format('eot'),
		 url('../media/fonts/icons.woff') format('woff'),
		 url('../media/fonts/icons.ttf') format('truetype'),
		 url('../media/fonts/icons.svg#icons') format('svg');
}

@mixin icon-styles {
	font-family: "icons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";
	
	@if $filename == arklys {
		$char: "\EA01";
	}
	@if $filename == arrow_left {
		$char: "\EA02";
	}
	@if $filename == arrow_right {
		$char: "\EA03";
	}
	@if $filename == bird {
		$char: "\EA04";
	}
	@if $filename == circle {
		$char: "\EA05";
	}
	@if $filename == close {
		$char: "\EA06";
	}
	@if $filename == download {
		$char: "\EA07";
	}
	@if $filename == gyvulininkyste {
		$char: "\EA08";
	}
	@if $filename == household {
		$char: "\EA09";
	}
	@if $filename == industry {
		$char: "\EA0A";
	}
	@if $filename == kompozicines_medziagos {
		$char: "\EA0B";
	}
	@if $filename == link {
		$char: "\EA0C";
	}
	@if $filename == popierius {
		$char: "\EA0D";
	}
	@if $filename == sodininkyste {
		$char: "\EA0E";
	}
	@if $filename == statybos {
		$char: "\EA0F";
	}
	@if $filename == tekstile {
		$char: "\EA10";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon_arklys {
	@include icon(arklys);
}
.icon_arrow_left {
	@include icon(arrow_left);
}
.icon_arrow_right {
	@include icon(arrow_right);
}
.icon_bird {
	@include icon(bird);
}
.icon_circle {
	@include icon(circle);
}
.icon_close {
	@include icon(close);
}
.icon_download {
	@include icon(download);
}
.icon_gyvulininkyste {
	@include icon(gyvulininkyste);
}
.icon_household {
	@include icon(household);
}
.icon_industry {
	@include icon(industry);
}
.icon_kompozicines_medziagos {
	@include icon(kompozicines_medziagos);
}
.icon_link {
	@include icon(link);
}
.icon_popierius {
	@include icon(popierius);
}
.icon_sodininkyste {
	@include icon(sodininkyste);
}
.icon_statybos {
	@include icon(statybos);
}
.icon_tekstile {
	@include icon(tekstile);
}
