@mixin tablet {
	@media screen and ( max-width: 1000px ) {
		@content;
	}
}
@mixin header_tablet {
	@media screen and ( max-width: 1200px ) {
		@content;
	}
}
@mixin mobile {
	@media screen and ( max-width: 767px ) {
		@content;
	}
}
@mixin no_touch {
	@media screen and ( min-width: 1025px ) {
		@content;
	}
}
@mixin desktop {
	@media screen and ( min-width: 1001px ) {
		@content;
	}
}
@mixin touch {
	@media screen and ( max-width: 1024px ) {
		@content;
	}
}
@mixin placeholder() {
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&:focus::-webkit-input-placeholder {
		transform: translate3d(7px,0,0);
		opacity: 0;
	}
	&:focus:-moz-placeholder {
		transform: translate3d(7px,0,0);
		opacity: 0;
	}
	&:focus::-moz-placeholder {
		transform: translate3d(7px,0,0);
		opacity: 0;
	}
	&:focus:-ms-input-placeholder {
		transform: translate3d(7px,0,0);
		opacity: 0;
	}
}