.product_page {
	background: #f4f4f4;
	padding: 137px 0 57px;
	text-align: center;

	@include tablet {
		padding: 100px 0px 0;
	}
	h1,
	h2 {
		padding: 18px 0;
		margin: 0;
	}
	.product_text_block {
		margin: 22px auto 57px;
		font-size: 0;

		@include tablet {
			margin-bottom: 0;	
		}
		.left {
			display: inline-block;
			vertical-align: top;
			width: 48%;

			@include tablet {
				display: block;	
				width: 100%;	
			}
			img {
				max-width: 100%;
				height: auto;
				width: auto;
			}
		}
		.right {
			display: inline-block;
			vertical-align: top;
			width: 52%;
			text-align: left;
			padding-left: 35px;
			font-size: 14px;

			@include tablet {
				width: 100%;	
				padding-left: 0;	
				margin: 20px 0;
			}
			.downloads {
				padding: 10px 0;
			}
			.industries {
				padding: 22px 0 15px;
				font-family: $bold;

				@include tablet {
					text-align: center;
				}
				.industries_holder {
					font-size: 0;
					width: calc(100% + 30px);
					margin: 7px -15px;
					text-align: left;

					@include tablet {
						text-align: center;
					}
					.industry {
						margin: 15px;
						display: inline-block;
						vertical-align: top;
						position: relative;
						font-size: 14px;
						width: 100px;
						text-align: center;
						padding-top: 50px;
						line-height: 138%;
						font-family: $normal;

						.tooltip {
							display: block;
							position: absolute;
							width: 184px;
							margin-left: -92px;
							padding-bottom: 15px;
							left: 50%;
							top: 0;
							transform: translate3d(0,-110%,0);
							transition: transform 250ms, opacity 250ms;
							opacity: 0;
							pointer-events: none;

							.holder {
								display: block;
								background: #fff;
								border-radius: 4px;
								border: 1px solid #ededed;
								position: relative;
								padding: 16px 23px;
								font-size: 14px;
								color: #5d5c5c;

								&:after {
									display: block;
									position: absolute;
									width: 14px;
									height: 14px;
									background: #fff;
									content: '';
									transform: translate3d(0,0,0) rotateZ(45deg);
									transform-origin: center center;
									left: 50%;
									margin-left: -7px;
									border-bottom: 1px solid #ededed;
									border-right: 1px solid #ededed;
									bottom: -8px;
								}
							}
							ul {
								display: block;
								position: relative;
								list-style-type: none;
								margin: 0;
								padding: 0;

								li {
									font-size: 14px;
									color: #5d5c5c;
									display: block;
									padding: 3px 0;
									text-align: left;
									position: relative;

									&:before {
										content: '-';
										padding-right: 3px;
									}
								}
							}
						}
						&:before {
							display: block;
							position: absolute;
							width: 40px;
							height: 40px;
							margin-left: -20px;
							left: 50%;
							border-radius: 50%;
							background: $green;
							top: 0;
							color: #fff;
							line-height: 40px;
							text-align: center;
						}
						&.icon_gyvulininkyste {

							&:before {
								font-size: 20px;
							}
						}
						&.icon_kompozicines_medziagos {

							&:before {
								font-size: 20px;
							}
						}
						&.icon_popierius {

							&:before {
								font-size: 20px;
							}
						}
						&.icon_sodininkyste {

							&:before {
								font-size: 23px;
							}
						}
						&.icon_statybos {

							&:before {
								font-size: 16px;
							}
						}
						&.icon_tekstile {

							&:before {
								font-size: 25px;
							}
						}
						&:hover {

							@include no_touch {
								z-index: 2;

								.tooltip {
									pointer-events: all;
									opacity: 1;
									transform: translate3d(0,-100%,0);
								}
							}
						}
						@include touch {
							cursor: pointer;
							
							&.open {
								z-index: 2;

								.tooltip {
									pointer-events: all;
									opacity: 1;
									transform: translate3d(0,-100%,0);
								}
							}
						}
					}
				}
			}
		}
	}
	.contact_form_holder {
		background: #fff;
		padding: 48px 99px;
		display: flex;

		@media screen and (max-width: 1210px) {
			padding: 48px;
		}
		@include tablet {
			padding: 20px;	
			display: block;	
		}
		.left {
			width: 50%;
			display: inline-flex;
			padding: 15px 99px 15px 0;

			@media screen and (max-width: 1210px) {
				padding: 15px 48px 15px 0;
			}
			@include tablet {
				width: 100%;	
				display: block;	
				padding: 15px;
				margin: 0 auto;
			}
			.info {
				margin: auto;
			}
			.img {
				display: inline-block;
				vertical-align: middle;
				border-radius: 50%;
				width: 180px;
				height: 180px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				border: 8px solid #eae6e2;
			}
			.texts {
				display: inline-block;
				vertical-align: middle;
				text-align: left;
				padding-left: 26px;

				@include tablet {
					text-align: center;
					padding: 15px;	
				}
			}
			.name {
				font-size: 18px;
				color: $green;
				font-family: $bold;
				padding-bottom: 2px;
			}
		}
		.right {
			width: 50%;
			padding: 25px 0 25px 99px;
			display: inline-flex;
			border-left: 1px solid #eae6e2;

			@media screen and (max-width: 1210px) {
				padding: 25px 0 25px 48px;
			}
			@include tablet {
				display: block;	
				width: 100%;	
				padding: 15px;	
				border: none;
			}
			form {
				display: block;
				margin: auto;
				
				input {
					width: 100%;
					border: none;
					border-bottom: 1px solid #eae6e2;
					margin-bottom: 25px;
					line-height: 40px;
					height: 40px;
					transition: border-color 250ms;

					@include placeholder {
						opacity: 1;
						color: $base;
						transition: transform 250ms, opacity 250ms;
					}
				}
				textarea {
					display: block;
					width: 100%;
					margin-bottom: 30px;
					border: none;
					border-bottom: 1px solid #eae6e2;
					min-height: 100px;
					resize: none;
					padding: 10px 0;
					transition: border-color 250ms;

					@include placeholder {
						opacity: 1;
						color: $base;
						transition: transform 250ms, opacity 250ms;
					}
				}
				input,
				textarea {
					-webkit-appearance: none !important;
					border-radius: 0 !important;

					&.error {
						border-color: red;
					}
				}
				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
				button {
					border: none;
					box-shadow: none;
					float: right;

					@include tablet {
						float: none;
					}
				}
			}
		}
	}
}