.title_page {
	
	.hero {
		width: 100%;
		height: 100vh;
		position: relative;
		text-align: center;

		@include tablet {
			min-height: 320px;
		}
		.swiper-container {
			height: 100%;

			.swiper-slide {
				display: flex;
				height: 100%;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;

				.wrapper {
					margin: auto;

					&.white {

						* {
							color: #fff;
						}
					}
					&.black {

					    * {
							color: #2e2d2d;
						}
					}
				}
			}
			.swiper-button-next,
			.swiper-button-prev {
				background: none;
				position: absolute;
				height: 100%;
				top: 0;
				width: 60px;
			}
			.swiper-button-next {
				@include icon(arrow_right);
				right: 0;

				&:before {
					color: #fff;
					font-size: 30px;
					display: block;
					position: absolute;
					height: 30px;
					line-height: 30px;
					margin-top: -15px;
					top: 50%;
					width: 100%;
					text-align: center;
					transition: transform 250ms;
					transform: translate3d(0,0,0);

					@include tablet {
						top: auto;
						bottom: 41px;
						margin-top: 0;
					}
				}
				&:hover {

					@include no_touch {

						&:before {
							transform: translate3d(7px,0,0);
						}
					}
				}
			}
			.swiper-button-prev {
				@include icon(arrow_left);
				left: 0;

				&:before {
					color: #fff;
					font-size: 30px;
					display: block;
					position: absolute;
					height: 30px;
					line-height: 30px;
					margin-top: -15px;
					top: 50%;
					width: 100%;
					text-align: center;
					transition: transform 250ms;
					transform: translate3d(0,0,0);

					@include tablet {
						top: auto;
						bottom: 41px;
						margin-top: 0;
					}
				}
				&:hover {

					@include no_touch {

						&:before {
							transform: translate3d(-7px,0,0);
						}
					}
				}
			}
		}
		.discover {
			position: absolute;
			cursor: pointer;
			bottom: 30px;
			width: 120px;
			margin-left: -60px;
			left: 50%;
			color: #fff;
			padding-bottom: 36px;
			@include icon(circle);
			z-index: 2;

			&:before {
				display: block;
				text-align: center;
				color: #fff;
				font-size: 24px;
				height: 24px;
				width: 24px;
				line-height: 24px;
				bottom: 0;
				left: 50%;
				margin-left: -12px;
				position: absolute;
				transform: translate3d(0,0,0);
				transition: transform 250ms;
			}
			&:hover {

				@include no_touch {

					&:before {
						transform: translate3d(0,10px,0);
					}
				}
			}
		}
		h2 {
			color: #fff;
			font-size: 48px;
			margin-top: 0;
			margin-bottom: 19px;
			display: block;
			line-height: 120%;

			@include tablet {
				font-size: 38px;
			}
		}
		.comment {
			font-size: 14px;
			color: #fff;
		}
	}
	section {
		padding: 83px 0;

		@include tablet {
			padding: 40px 0;
		}

		h2 {
			margin-top: 0;
		}
		h2, 
		.text {
			max-width: 660px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		&.about {
			background: #f4f4f4;

			.info_block {
				margin: 87px 0 56px;
				display: flex;

				@include tablet {
					margin: 42px 0 10px;
					display: block;
				}
				.left {
					width: 42%;
					display: inline-block;
					vertical-align: top;

					img {
						max-width: 100%;
						margin: auto;
					}
					@include tablet {
						width: 100%;	
						display: block;
					}
				}
				.right {
					width: 58%;
					display: inline-block;
					vertical-align: top;
					padding: 0 58px 0 97px;

					@include tablet {
						display: block;	
						width: 100%;
						padding-left: 0;	
						padding-right: 0;	
						padding-top: 35px;	
					}
					.holder {
						margin-top: auto;
						margin-bottom: auto;
					}
					.more {
						margin-top: 35px;

						@include tablet {
							width: 172px;	
							left: 50%;	
							margin-left: -86px;	
							position: relative;
						}
					}
				}
			}
		}
		&.knowing {
			background: #f4f4f4;

			.questions {
				font-size: 0;
				text-align: center;

				.tab_head {
					display: inline-block;
					vertical-align: top;
					font-family: $bold;
					color: #d79664;
					font-size: 16px;
					padding: 0 20px;

					&:hover {

						@include no_touch {
							text-decoration: underline;
						}
					}
					@include tablet {
						padding: 10px 20px;
					}
				}
				span {
					font-family: $bold;
					font-size: 16px;

					@include tablet {
						display: none;
					}
				}
			}
			.tab {
				margin-top: 25px;
				font-size: 0;
				display: none;
				flex-wrap: wrap;

				&[data-tab="1"] {
					display: flex;
				}
				@include tablet {
					margin-top: 0;	
				}
				.faq {
					margin-top: 20px;
					display: inline-block;
					vertical-align: top;
					font-size: 18px;
					font-family: $bold;
					color: $base;
					width: calc(50% - 15px);
					background: #fff;
					text-decoration: none;
					position: relative;
					padding: 18px 60px 18px 30px;
					transition: color 250ms;
					cursor: pointer;
					@include icon(arrow_right);

					&:before {
						display: block;
						position: absolute;
						right: 28px;
						height: 10px;
						line-height: 10px;
						font-size: 10px;
						text-align: center;
						margin-top: -5px;
						top: 50%;
						color: #296251;
						transition: transform 250ms;
						transform: translate3d(0,0,0);
					}
					&:nth-child(even) {
						margin-left: 15px;
					}
					&:nth-child(odd) {
						margin-right: 15px;
					}
					@include tablet {
						width: 100%;	
						margin-left: 0 !important;	
						margin-right: 0 !important;	
						padding: 18px 50px 18px 20px;
					}
					&:hover {

						@include no_touch {
							color: #296251;

							&:before {
								transform: translate3d(5px,0,0);
							}
						}
					}
				}
			}
		}
		&.news {
			position: relative;
			padding-bottom: 83px;

			.button.more {
				position: absolute;
				width: 172px;
				padding-left: 10px;
				padding-right: 10px;
				margin-left: -86px;
				left: 50%;
				bottom: 41px;
				transition: opacity 250ms;
				opacity: 1;
				
				&.hide {
					opacity: 0;
					pointer-events: none;
				}
			}
		}
		&.work {
			background: #f4f4f4;

			a {
				color: inherit;
				font-family: $bold;
				transition: color 250ms;

				&:hover {
					color: $green;
				}
			}
		}
	}
	.products_holder {
		font-size: 0;
		margin: 38px -22px -22px -22px;
		width: calc(100% + 44px);
		text-align: center;

		@include tablet {
			margin: 38px auto 0;
			width: 100%;	
		}
		.product {
			margin: 22px;
			display: inline-block;
			vertical-align: top;
			width: calc(50% - 44px);
			text-decoration: none;

			@include tablet {
				margin: 0;
				width: 100%;	
				margin-bottom: 10px;	
			}

			.ratio {
				width: 100%;
				display: block;
				position: relative;
				padding-top: 62.10526%;

				.img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					display: block;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
				}
				&:after {
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					content: '';
					background: rgba(#396152, .3);
					z-index: 1;
					transition: opacity 450ms;
					opacity: 0;
				}
			}
			.name {
				padding: 15px;
				font-family: $bold;
				font-size: 18px;
				text-align: center;
				display: block;
				color: $base;
			}
			&:hover {

				@include no_touch {

					.ratio:after {
						opacity: 1;
					}
				}
			}
		}
	}
	.industries_holder {
		margin: 30px -15px -15px -15px;
		width: calc(100% + 30px);
		text-align: center;

		.industry {
			display: inline-block;
			vertical-align: top;
			margin: 15px;
			width: 142px;
			font-family: $bold;
			font-size: 18px;
			padding-top: 92px;
			position: relative;

			@include tablet {
				padding-top: 82px;
			}
			.tooltip {
				display: block;
				position: absolute;
				width: 184px;
				margin-left: -92px;
				padding-bottom: 15px;
				left: 50%;
				top: 0;
				transform: translate3d(0,-110%,0);
				transition: transform 250ms, opacity 250ms;
				opacity: 0;
				pointer-events: none;

				.holder {
					display: block;
					background: #fff;
					border-radius: 4px;
					border: 1px solid #ededed;
					position: relative;
					padding: 16px 23px;
					font-size: 14px;
					color: #5d5c5c;

					&:after {
						display: block;
						position: absolute;
						width: 14px;
						height: 14px;
						background: #fff;
						content: '';
						transform: translate3d(0,0,0) rotateZ(45deg);
						transform-origin: center center;
						left: 50%;
						margin-left: -7px;
						border-bottom: 1px solid #ededed;
						border-right: 1px solid #ededed;
						bottom: -8px;
					}
				}
				ul {
					display: block;
					position: relative;
					list-style-type: none;
					margin: 0;
					padding: 0;

					li {
						font-size: 14px;
						color: #5d5c5c;
						display: block;
						padding: 3px 0;
						text-align: left;
						position: relative;

						&:before {
							content: '-';
							padding-right: 3px;
						}
					}
				}
			}
			&:before {
				display: block;
				position: absolute;
				width: 70px;
				height: 70px;
				margin-left: -35px;
				left: 50%;
				top: 0;
				border-radius: 50%;
				background: $green;
				line-height: 70px;
				text-align: center;
				color: #fff;
			}
			&.icon_gyvulininkyste {

				&:before {
					font-size: 35px;
				}
			}
			&.icon_kompozicines_medziagos {

				&:before {
					font-size: 30px;
				}
			}
			&.icon_popierius {

				&:before {
					font-size: 30px;
				}
			}
			&.icon_sodininkyste {

				&:before {
					font-size: 35px;
				}
			}
			&.icon_statybos {

				&:before {
					font-size: 27px;
				}
			}
			&.icon_tekstile {

				&:before {
					font-size: 35px;
				}
			}
			&.icon_industry {

				&:before {
					font-size: 35px;
				}
			}
			&.icon_household {

				&:before {
					font-size: 35px;
				}
			}
			&:hover {

				@include no_touch {
					z-index: 2;

					.tooltip {
						pointer-events: all;
						opacity: 1;
						transform: translate3d(0,-100%,0);
					}
				}
			}
			@include touch {
				cursor: pointer;
				
				&.open {
					z-index: 2;

					.tooltip {
						pointer-events: all;
						opacity: 1;
						transform: translate3d(0,-100%,0);
					}
				}
			}
		}
	}
	.news_holder {
		margin: 46px -18px 35px -18px;
		width: calc(100% + 36px);
		font-size: 0;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		transition: height 400ms;
		overflow: hidden;

		@include tablet {
			margin: 30px 0;
			display: block;	
			width: 100%;	
		}
		.new {
			display: inline-flex;
			vertical-align: top;
			background: #f4f4f4;
			text-decoration: none;
			color: $base;
			font-family: $bold;
			width: calc(50% - 36px);
			margin: 18px;
			min-height: 223px;

			@include tablet {
				width: 100%;	
				display: block;
				width: 100%;	
				min-height: 0;
				margin: 18px 0;
			}
			.img {
				display: inline-block;
				vertical-align: top;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				width: 50%;
				transition: filter 250ms;
				filter: grayscale(0%);

				@include tablet {
					width: 100%;	
					display: block;	
					height: 150px;	
				}
			}
			.excerpt {
				font-size: 18px;
				display: inline-flex;
				vertical-align: top;
				padding: 20px;
				width: 50%;

				@include tablet {
					width: 100%;	
				}
				.center {
					margin: auto;
					display: block;
					text-align: left;
					color: $base;
					transition: color 250ms;
				}
			} 
			&:hover {

				@include no_touch {

					.img {
						filter: grayscale(100%);
					}
					.excerpt {

						.center {
							color: $green;
						}
					}
				}
			}
		}
	}
}