@font-face {
	font-family: "<%= fontName %>";
	src: url('<%= fontPath %><%= fontName %>.eot?ts=<%= timestamp %>');
	src: url('<%= fontPath %><%= fontName %>.eot?ts=<%= timestamp %>#iefix') format('eot'),
		 url('<%= fontPath %><%= fontName %>.woff?ts=<%= timestamp %>') format('woff'),
		 url('<%= fontPath %><%= fontName %>.ttf?ts=<%= timestamp %>') format('truetype'),
		 url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>?ts=<%= timestamp %>') format('svg');
}


@mixin icon-styles {
  font-family: "<%= fontName %>";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";
<% _.each(glyphs, function(glyph) { %>
  @if $filename == <%= glyph.name %> {
    $char: "\<%= glyph.unicode %>";
  }<% }); %>

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

<% _.each(glyphs, function(glyph) { %>.icon_<%= glyph.name %> {
  @include icon(<%= glyph.name %>);
}
<% }); %>